<section class="bg-main">
  <div class="container ">

      <div class="row justify-content-center align-items-center vh-100 ">
          <div class="col-md-8">

              

              <div class="auth-card">
                  <div class=" m-auto  text-center">
                      <img src="./assets/img/logo.svg" class="w-50" alt="">
                  </div>

                  <div class="mb-4">
                      <h1> Reset  Password</h1>
                      <p>Please Enter Your Otp  or Check Your Inbox</p>
                  </div>

                 

                  <form [formGroup]="changePassForm" (ngSubmit)="resetPassword(changePassForm)">
                      
                      <div class="input-group ">
                          <span class="input-group-text" id="basic-addon1">
                              <i class="fa-solid fa-mobile-screen fs-5"></i>
                          </span>
                          <input formControlName="email" type="email" class="form-control" placeholder="Enter your E-mail" aria-label="Username" aria-describedby="basic-addon1">
                        </div>

                        <div *ngIf="changePassForm.get('email')?.errors && changePassForm.get('email')?.touched" class="d-flex align-items-center mt-1">
                          <img src="./assets/img/invalid.png" width="22" height="22" alt="" class="mx-2">
                          <p *ngIf="changePassForm.get('email')?.getError('required')" class="m-0 text-danger ">Email is required</p>
                          <p *ngIf="changePassForm.get('email')?.getError('email')" class="m-0 text-danger">Email is invalid</p>
                        </div>

                        <div class="input-group mt-3">
                          <span class="input-group-text" id="basic-addon1">
                            <i class="fa-solid fa-lock fs-5"></i>
                          </span>
                          <input formControlName="otp" type="text" class="form-control" placeholder="OTP" aria-label="Username" aria-describedby="basic-addon1">
                        </div>

                        <div *ngIf="changePassForm.get('otp')?.errors && changePassForm.get('otp')?.touched" class="d-flex align-items-center mt-1">
                          <img src="./assets/img/invalid.png" width="22" height="22" alt="" class="mx-2">
                          <p *ngIf="changePassForm.get('otp')?.getError('required')" class="m-0 text-danger ">Email is required</p>
                        </div>
  
                        <div class="input-group mt-3 d-flex align-items-center ">
                          <span class="input-group-text" id="basic-addon1">
                              <i class="fa-solid fa-lock fs-5"></i>
                          </span>
                          <input formControlName="password" [type]="hide? 'password':'text'" class="form-control" placeholder="Password" aria-label="Username" aria-describedby="basic-addon1">
                          <span> 
                              <i (click)="hide=!hide" class="fa-regular  fs-5 pe-3 hide" [class]="hide? 'fa-eye-slash':'fa-eye' "></i>
                          </span>
                      </div>

                      <div *ngIf="changePassForm.get('password')?.errors && changePassForm.get('password')?.touched" class="d-flex align-items-center mt-1">
                          <img src="./assets/img/invalid.png" width="22" height="22" alt="" class="mx-2">
                          <p *ngIf="changePassForm.get('password')?.getError('required')" class="text-danger m-0">Password is required</p>
                          <p *ngIf="changePassForm.get('password')?.getError('pattern')" class="text-danger m-0">Password must contain at least one digit,one lowercase letter,one uppercase letter,one special character, and is at least 8 characters long.</p>
                      </div>


                      <div class="input-group mt-3 d-flex align-items-center ">
                        <span class="input-group-text" id="basic-addon1">
                            <i class="fa-solid fa-lock fs-5"></i>
                        </span>
                        <input formControlName="confirmPassword" [type]="hideConfirmPass? 'password':'text'" class="form-control" placeholder="Confirm-Password" aria-label="Username" aria-describedby="basic-addon1">
                        <span> 
                            <i (click)="hideConfirmPass=!hideConfirmPass" class="fa-regular  fs-5 pe-3 hide" [class]="hideConfirmPass? 'fa-eye-slash':'fa-eye' "></i>
                        </span>
                    </div>

                    <div *ngIf="changePassForm.get('confirmPassword')?.errors && changePassForm.get('confirmPassword')?.touched" class="small d-flex align-items-center mt-1">
                        <img src="./assets/img/invalid.png" width="22" height="22" alt="" class="mx-2">
                        <p *ngIf="changePassForm.get('confirmPassword')?.getError('required')" class="text-danger m-0">Confirm Password is required</p>
                        <p *ngIf="changePassForm.get('confirmPassword')?.getError('mismatch')" class="text-danger m-0">Password is mismatch</p>
                    </div>

  
                       
                    <div class="links mt-3">
                        <a [routerLink]="['/auth']" class="text-main" >Back To Login?</a>
                      </div>
                      
                        <button [disabled]="changePassForm.invalid" class="primary w-100 mt-4">Reset Password</button>

                      


                  </form>
                    

                  



              </div>


          </div>
      </div>

  </div>

  

</section>
