.register{
    background-image: url('/assets/img/bg.png');
    background-position: center center;
    background-size: cover;
    min-height: 100vh;

    $color-gray:#8391A1;


    .hide{
        cursor: pointer;
    }

   
    
 /*  .image-profile{
    width: 240px;
    height: 240px;
    margin: auto;
    overflow: hidden;
    border-radius: 50%;
    background-color: red;

    }*/

    .drop-zone{
   
    border: none;
    }

    .upload{
        color: $color-gray;
    }
    .links{
        a{
            cursor: pointer;
        }
    }

}



.danger {
    background-color: #dc3545 !important; /* Red color for danger */
    color: #fff !important; /* White color for text */
    width: 100px ;
  }