<section class="all  ">
    <div class="page-title p-4 mt-3">
        

            <div class="row align-items-center">
                <div class="col-md-8">
                   <div>
                    <h1 >Users <span>  List</span></h1> 
                    <p class="w-50">You can now add your items that any user can order it from the Application and you can edit</p>
                   </div>
                </div>

                <div class="col-md-4">
                   <div class="text-end pe-2">
                    <img src="./assets/img/avatar.svg" alt="">
                   </div>
                </div>
            </div>
    </div>
</section>

<section class="my-4">

    <div>

    <div class="d-flex align-items-center justify-content-between ">
            <h2 class="h3 m-0">Users Table Details</h2>


    </div>

    <p class="text-muted mt-0">You can check all details</p>

</div>

<div class="row">


  <div class="col-md-3">

    <mat-form-field  appearance="outline" class="w-100">
      <mat-label>Search By....</mat-label>
      <mat-select [(ngModel)]="searchType" (selectionChange)="getAllUsers()">
        <mat-option value="userName">Name</mat-option>
        <mat-option value="email">Email</mat-option>
        <mat-option value="country">Country</mat-option>


       
      </mat-select>
    </mat-form-field>

  

  </div>


  <div class="col-md-6 ">

    <mat-form-field class="example-form-field w-100 " appearance="outline">
      <mat-label class="ms-5">{{(searchType=='email')? 'Write Full Email...':(searchType=='country')? 'Write Full Country...':'Search here ...'}}</mat-label>
      <div class="d-flex align-items-center  ">
        <span (click)="getAllUsers()" class="cursor-pointer p-1 d-flex justify-content-center"><i class="fa-solid fa-magnifying-glass me-2 fs-5"></i></span>

        <input matInput type="text" [(ngModel)]="searchValue" (keyup.enter)="getAllUsers()"/>

      </div>
      <button
        *ngIf="searchValue"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="reset()"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>


    

  </div>

  

  <div class="col-md-3">

    <mat-form-field  appearance="outline" class="w-100">
      <mat-label>Role</mat-label>
      <mat-select [(ngModel)]="roleIds" (selectionChange)="getAllUsers()" multiple="">
        <mat-option value="1">admin</mat-option>
        <mat-option value="2">user</mat-option>

       
      </mat-select>
    </mat-form-field>

  </div>



</div>


    <div class="mt-2" *ngIf="!noDataFound">
        <table class="table table-striped " >

            <thead class="text-capitalize">
                <th>userName</th>
                <th>image</th>
                <th>email</th>
                <th>country</th>
                <th>phone number</th>
                <th>role</th>
                <th>action</th>
            </thead>

            <tbody>
                <tr *ngFor="let user of allUserData.data">
                    <td>{{user.userName}}</td>
                    <td>
                        <div *ngIf="user.imagePath ; else noImage" class="img-photo">
                            <img 
                            [src]="imgUrl + user.imagePath"
                            alt=""
                          />
                        </div>

                        <ng-template #noImage> <span>no image</span></ng-template>
                        
                        
                      </td>

                      <td>{{user.email}}</td>
                      <td>{{user.country}}</td>
                      <td>{{user.phoneNumber}}</td>
                      <td>{{user.group.name}}</td>

                    <td>
                        
                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                            <mat-icon>more_vert</mat-icon>
                          </button>
                          <mat-menu #menu="matMenu"  >
                            <button mat-menu-item  (click)="openViewUserDialog(user)">
                              <mat-icon>visibility</mat-icon>
                              <span>View</span>
                            </button>
                          
                            <button mat-menu-item (click)="openDeleteDialog(user.id)">
                              <mat-icon>delete</mat-icon>
                              <span>Delete</span>
                            </button>
                          </mat-menu>
                          


                    </td>

                </tr>

            </tbody>


        </table>


        <mat-paginator #paginator
               class="demo-paginator"
               (page)="handlePageEvent($event)"
               [length]="allUserData.totalNumberOfRecords"
               [pageSize]="pageSize"
               [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []"
               [pageIndex]="pageIndex"
               aria-label="Select page">
</mat-paginator>


    </div>
    
    <div *ngIf="noDataFound" class="mt-4 text-center d-flex flex-column align-items-center" >
  
        <div>
          <img width="250px" src="./assets/img/delete-img.svg" alt="no data">
        </div>
    
        <h3 class="mt-3">No Data !</h3>
        <p class="mt-2 text-muted ">no data found can you add data </p>

    </div>
</section>