

<section class="change-pass">
  <div class="close">
    <span  (click)="onNoClick()" class=" cursor-pointer "><i class="fa-solid fa-close fs-4"></i></span>

  </div>  

              

              <div class="auth-card">
                  <div class=" m-auto  text-center">
                      <img src="./assets/img/logo.svg" class="w-50" alt="">
                  </div>

                  <div class="mb-4">
                      <h1>Change Your Password</h1>
                      <p>Enter your details below</p>
                  </div>

                 

                  <form [formGroup]="changePassForm"  (ngSubmit)="changePassword(changePassForm)">
                      
                    <div class="input-group mt-3 d-flex align-items-center ">
                      <span class="input-group-text" id="basic-addon1">
                          <i class="fa-solid fa-lock fs-5"></i>
                      </span>
                      <input formControlName="oldPassword" [type]="hide? 'password':'text'" class="form-control" placeholder="Old Password" aria-label="Username" aria-describedby="basic-addon1">
                      <span> 
                          <i (click)="hide=!hide" class="fa-regular  fs-5 pe-3 hide" [class]="hide? 'fa-eye-slash':'fa-eye' "></i>
                      </span>
                  </div>


                  <div *ngIf="changePassForm.get('oldPassword')?.errors && changePassForm.get('oldPassword')?.touched" class="d-flex align-items-center mt-1">
                      <img src="./assets/img/invalid.png" width="22" height="22" alt="" class="mx-2">
                      <p *ngIf="changePassForm.get('oldPassword')?.getError('required')" class="text-danger m-0">Password is required</p>
                      <p *ngIf="changePassForm.get('oldPassword')?.getError('pattern')" class="text-danger m-0">Invalid Password</p>
                  </div>


              
  
                        <div class="input-group mt-3 d-flex align-items-center ">
                          <span class="input-group-text" id="basic-addon1">
                              <i class="fa-solid fa-lock fs-5"></i>
                          </span>
                          <input formControlName="newPassword" [type]="hideNew? 'password':'text'" class="form-control" placeholder="New Password" aria-label="Username" aria-describedby="basic-addon1">
                          <span> 
                              <i (click)="hideNew=!hideNew" class="fa-regular  fs-5 pe-3 hide" [class]="hideNew? 'fa-eye-slash':'fa-eye' "></i>
                          </span>
                      </div>

                      <div *ngIf="changePassForm.get('newPassword')?.errors && changePassForm.get('newPassword')?.touched" class="d-flex align-items-center mt-1">
                          <img src="./assets/img/invalid.png" width="22" height="22" alt="" class="mx-2">
                          <p *ngIf="changePassForm.get('newPassword')?.getError('required')" class="text-danger m-0">Password is required</p>
                          <p *ngIf="changePassForm.get('newPassword')?.getError('pattern')" class="text-danger m-0">Password must contain at least one digit,one lowercase letter,one uppercase letter,one special character, and is at least 8 characters long.</p>
                      </div>


                      <div class="input-group mt-3 d-flex align-items-center ">
                        <span class="input-group-text" id="basic-addon1">
                            <i class="fa-solid fa-lock fs-5"></i>
                        </span>
                        <input formControlName="confirmNewPassword" [type]="hideConfirmPass? 'password':'text'" class="form-control" placeholder="Confirm New Password" aria-label="Username" aria-describedby="basic-addon1">
                        <span> 
                            <i (click)="hideConfirmPass=!hideConfirmPass" class="fa-regular  fs-5 pe-3 hide" [class]="hideConfirmPass? 'fa-eye-slash':'fa-eye' "></i>
                        </span>
                    </div>

                    <div *ngIf="changePassForm.get('confirmNewPassword')?.errors && changePassForm.get('confirmNewPassword')?.touched" class="small d-flex align-items-center mt-1">
                        <img src="./assets/img/invalid.png" width="22" height="22" alt="" class="mx-2">
                        <p *ngIf="changePassForm.get('confirmNewPassword')?.getError('required')" class="text-danger m-0">Confirm Password is required</p>
                        <p *ngIf="changePassForm.get('confirmNewPassword')?.getError('mismatch')" class="text-danger m-0">Password is mismatch</p>
                    </div>

  
                       
  
                        <button [disabled]="changePassForm.invalid" class="primary w-100 mt-4">Change Password</button>

                       


                  </form>
                    

                  



              </div>


 
  
</section>
