<section class="p-3 rounded-2">
  <div class="w-100 text-end  pe-2">
    <span  (click)="onNoClick()" class=" cursor-pointer "><i class="fa-solid fa-close fs-4"></i></span>

  </div>
  <div class=" m-auto  text-center">
    <img src="./assets/img/logo.svg" class="w-75" alt="">
</div>
    <h1 mat-dialog-title  class="text-main-color fs-4 mt-3" >{{(data.edit)? 'Edit this Category':"Add New Category"}} </h1>
<div mat-dialog-content class="pt-3">
  <mat-form-field  class="w-100 mdc-text-field--outlined mb-3 " appearance="outline" >
    <mat-label>category name</mat-label>
    <input matInput [(ngModel)]="data.name">
  </mat-form-field>
</div>

<hr>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="data.name" cdkFocusInitial  class="primary ms-auto " >{{(data.edit)? 'Update':"Add"}}</button>
</div>

</section>