.nav-bar{

    nav{
        background-color: #F8F9FB ;
        border-radius: 20px;
    }
    

.search{
    border-radius: 20px;
    i{
        color: #1f263e6f;
    }
    input{
        border: none;
        padding: 6px 10px;
    }
}
/*
ul{
    li{
        padding: 0 10px;
    }
}*/

.text{
    font-size: 30px !important;
    font-weight: 900 !important;
 
}
    
}