

<section class="nav-bar  mt-3 ">

<nav id="navbar" class="bg-body-tertiary py-2  nav">
  <div class="container-fluid">
    <div class="row justify-content-between align-items-center">
      <div class="col-lg-9">
        <div class="bg-white search  d-flex align-items-center">
          <i class="fa-solid fa-magnifying-glass ms-3 "></i>
          <input class="form-control" type="search" placeholder="Search Here" >

       </div>    
        </div>
      <div class="col-lg-3 ">
        <div class="d-flex justify-content-end align-items-center ">
          
          <div class=" layer-img position-relative">
            
            <img [src]="imagePath? baseUrl+imagePath:noImage" class="rounded-circle " height="50px" alt="">

          </div>
          <div class="">
            <h6 class="nav-link mb-0 text-black">{{userName}}</h6>
          </div>
          <div class="">
            <button class=" d-flex align-items-center justify-content-center" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
              <mat-icon class=" text">expand_more</mat-icon>
              
            </button>
            <mat-menu #menu="matMenu"  >
              
                <button mat-menu-item (click)="goToProfile()">
                  <mat-icon>person</mat-icon>
                 
                  <span>Edit Profile</span>
                </button>

              <button mat-menu-item (click)="openDialog()">
                <mat-icon>lock_open</mat-icon>
               
                <span>Change Password</span>
              </button>

              <button mat-menu-item (click)="logOut()">
                <mat-icon>logout</mat-icon>
                
                <span>Logout</span>
              </button>
              
            </mat-menu>

          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

</section>

