<section class="bg-main">
    <div class="container ">

        <div class="row justify-content-center align-items-center vh-100 py-3">
            <div class="col-md-8">

                

                <div class="auth-card">
                    <div class=" m-auto  text-center">
                        <img src="./assets/img/logo.svg" class="w-50" alt="">
                    </div>

                    <div class="my-4">
                        <h1>Forgot Your Password?</h1>
                        <p>No worries! Please enter your email and we will send a password reset link </p>
                    </div>

                   

                    <form [formGroup]="emailForm" (ngSubmit)="submit(emailForm)">
                        
                        <div class="input-group ">
                            <span class="input-group-text" id="basic-addon1">
                                <i class="fa-solid fa-mobile-screen fs-5"></i>
                            </span>
                            <input formControlName="email" type="email" class="form-control" placeholder="Enter your E-mail" aria-label="Username" aria-describedby="basic-addon1">
                          </div>

                          <div *ngIf="emailForm.get('email')?.errors && emailForm.get('email')?.touched" class="d-flex align-items-center mt-1">
                            <img src="./assets/img/invalid.png" width="22" height="22" alt="" class="mx-2">
                            <p *ngIf="emailForm.get('email')?.getError('required')" class="m-0 text-danger ">Email is required</p>
                            <p *ngIf="emailForm.get('email')?.getError('email')" class="m-0 text-danger">Email is invalid</p>
                          </div>
    
                        

                       
    
                          <div class="links mt-3">
                            <a [routerLink]="['/auth']" class="text-main" >Back To Login?</a>
                          </div>
    
                          <button [disabled]="emailForm.invalid" class="primary w-100 mt-4">Submit</button>

                         


                    </form>
                      

                    



                </div>


            </div>
        </div>

    </div>

    

</section>