  <div class="container pb-3">
    <div class="w-100 text-end  p-3">
      <span  (click)="onNoClick()" class=" cursor-pointer "><i class="fa-solid fa-close fs-4"></i></span>
  
    </div>

      <div class="row justify-content-center align-items-center  ">
          <div class="col-md-12">

              

              <div class="auth-card">
                  <div class=" m-auto  text-center">
                      <img src="./assets/img/logo.svg" class="w-50" alt="">
                  </div>

                  <div class="mt-5 mb-3">
                      <h1>Confirm Your Password?</h1>
                  </div>

                                       
                      <div class="input-group ">
                          <span class="input-group-text" id="basic-addon1">
                              <i class="fa-solid fa-lock fs-5"></i>
                          </span>
                          <input [(ngModel)]="data" [type]="hide? 'password':'text'" class="form-control" placeholder="Confirm your password" aria-label="Username" aria-describedby="basic-addon1">
                          <span> 
                            <i (click)="hide=!hide" class="fa-regular  fs-5 pe-3 hide" [class]="hide? 'fa-eye-slash':'fa-eye' "></i>
                        </span>
                        
                        </div>

  
                      

                    
  
                        <button  [mat-dialog-close]="data" cdkFocusInitial  [disabled]="!data" class="primary w-100 mt-4">Confirm</button>
                  



              </div>


          </div>
      </div>

  </div>

  

